@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

 

<address>
    <strong>Support:</strong>   <a href="mailto:vnhelpdesk@zuelligpharma.com">vnhelpdesk@zuelligpharma.com </a><br />
    <strong>Hot Line: </strong> <a >0937 113 118</a>
</address>