
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h2>Welcome to Employee Declaration Form</h2>
    </div>*@

<div class="row">


    <div class="row">
        <div class="col-md-12" align="center">

            <span class="text-primary" style="margin: auto">
                <h3>Employee Declaration Form</h3>
                <h3><em> Tờ Khai về Nhân Thân của Nhân Viên</em></h3>
            </span>



            <img class="img-responsive" src="../Images/Zuellig.png" style="width: 850px; height: 350px; margin: auto; display: block">

        </div>
    </div>
</div>