
@{
    ViewBag.Title = "About";
}

<h3><span style="color: #117577">Product Info Database for QA</span></h3>
<p>
    Developed by Le Duy Phuc, IT Department - April 2016
    <br />

    <strong>Email:</strong>   <a href="mailto:vnhelpdesk@zuelligpharma.com">vnhelpdesk@zuelligpharma.com </a><br />
    <strong>Hot Line: </strong> <a>0937 113 118</a>
</p>

